$color-background: #ffffff;
$color-navbar-bgc: #2b386f;
$color-navbar-font: #fff;
$color-primary-font: #20285b;
$color-itineray-bgc: #e9ecec;

$primary-font: "Montserrat", Arial, Helvetica, sans-serif;
